$text: rgba(0, 37, 109, 0.9);
$text-accent: rgba(1, 0, 109, 0.65);
$icons: rgba(205, 35, 120, 0.7);
$separator: rgba(1, 26, 59, 0.3);
$shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
$background-accent: rgba(255, 255, 255, 0.3);

body {
  color: $text;
}

a:link,
a:visited {
  color: $text;
  border-bottom: 1px dotted $text;
}

a:link:hover {
  color: $text-accent;
  border-bottom: 1px dotted $text-accent;
}

h1,
h2,
h3 {
  color: $text-accent;
}

hr {
  border: 1px dashed $separator;
  overflow: hidden;
  margin: 28px auto;
  background: none;
}

#profile-picture {
  border-radius: 50%;
}

#verification,
.fa-solid,
.fa-brands,
.omg-icon {
  color: $icons;
}

#bio {
  font-size: 0.85em;
}

#status-log {
  h2 {
    margin-top: 0;
    font-size: 1.4em;
  }
}

.statuslol {
  // important needed to override the JS styling that comes with the widget
  background: $background-accent !important;
  box-shadow: $shadow;
}

#profile-items {
  margin-top: 0;
  padding-top: 0;
}

#extra-love {
  font-size: 0.7em;
}

.fan-banner {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin-bottom: 16px;
  width: 100%;
  max-width: 350px;
}

#now {
  text-align: center !important;

  a {
    border-bottom: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;

  a {
    border-bottom: none;
  }

  img {
    max-height: 150px;
  }
}

.grid-music {
  grid-template-columns: repeat(3, 1fr);
}

#now-footer {
  font-size: 12px;
}
