$text: rgba(0, 37, 109, 0.9);
$text-accent: rgba(1, 0, 109, 0.65);
$icons: rgba(205, 35, 120, 0.7);
$separator: rgba(1, 26, 59, 0.3);
$shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
$background-accent: rgba(255, 255, 255, 0.3);

body {
  color: var($text);
}

a:link,
a:visited {
  color: var($text);
  border-bottom: 1px dotted var($text);
}

a:link:hover {
  color: var($text-accent);
  border-bottom: 1px dotted var($text-accent);
}

h1,
h2,
h3 {
  color: var($text-accent);
}

hr {
  border: 1px dashed var($separator);
  overflow: hidden;
  margin: 28px auto;
}

#profile-picture {
  border-radius: 50%;
}

#verification,
.fa-solid,
.fa-brands {
  color: var($icons);
}

#bio {
  font-size: 0.85em;
}

#status-log {
  h2 {
    margin-top: 0;
    font-size: 1.4em;
  }
}

.statuslol {
  // important needed to override the JS styling that comes with the widget
  background: var($background-accent) !important;
  box-shadow: var($shadow);
}

#profile-items {
  margin-top: 0;
  padding-top: 0;
}

#extra-info {
  font-size: 0.5em;
  opacity: 0;
}

#extra-love {
  font-size: 0.7em;
}
